.App {
  padding: 2rem 4rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.search-box {
  outline: none;
  width: 90%;
  border: 1px solid grey;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Card CSS */
.card {
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem;
  width: 250px;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card__title {
  font-weight: 800;
  font-size: 1.5rem;
}

.card__image {
  display: flex;
  justify-content: flex-end;
}
.card__image img {
  border-radius: 50%;
}

.location {
  margin: 1rem 0;
}
.location p {
  margin: 0;
}

.phoneNumber p {
  font-style: italic;
  font-size: 0.8rem;
  margin: 0;
}
